/*!
 * Roots 6.5.0
 */

@font-face{
   font-family: "bebas";
   src: url(../fonts/BEBAS.TTF);
}

/* ==========================================================================
   Base
   ========================================================================== */
h3{
   font-family: "bebas";
   font-size: 36px;
   color: #646464;
}
h1, h2, h3, a, p{
   font-family: "bebas"!important;
   word-spacing: 2px;
   letter-spacing: .5px;
}
body { }



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* ==========================================================================
   Tour
   ========================================================================== */
   .bit-venue{
      display: none;
   }
   .bit-description-links{
      display: none;
   }
   .bit-date{
      width: 9%;
   }

  .bit-header-overflow-fix span, .bit-header-overflow-fix span a{
   color: #646464!important;
  }

  tr th{
   color: #646464!important;
  }
.bit-event-data{
   letter-spacing: .5px!important;
   word-spacing: 3px!important;
}
.bit-buy-tix {
color: #E64C1F;
text-decoration: none;
font-weight: bold;
}
a:hover{
   text-decoration: none!important;
   color: inherit!important;
}
.bit-rsvp {
display: none;
}
.bit-location a{
   font-weight: normal!important;
}
.bit-bottom{
   display: none;
}
.smaller{
   font-size: 36px;
}
/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
.bit-venue{
      display: block!important;
   }
   h3{
      font-size: 56px;
   }
   .bit-location{
   width: 18%!important;
}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) { }
