/*!
 * Roots 6.5.0
 */

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {background:#000; }

@font-face{
   font-family: "bebas";
   src: url(../fonts/BEBAS.TTF);
}

/* ==========================================================================
   Base
   ========================================================================== */
h1{
   color: #FFFFFF;
   font-size: 60px;
}

h2{
   color: #FFFFFF;
   font-size: 50px;
}

h3{
   font-family: "bebas";
   font-size: 36px;
   color: #646464;
}
h1, h2, h3, a, p{
   font-family: "bebas"!important;
   word-spacing: 2px;
   letter-spacing: .5px;
}

p{
   color: #FFFFFF;
}

a{
   color: inherit!important;
}

.border-box p:hover {
color: #FFF;
border: 3px solid #FFF;
}

a h3.smaller:hover {
color: #FFF;
}

.rotate-pos {
transform: skewY(3deg);
-moz-transform: skewY(3deg);
-webkit-transform: skewY(3deg);
-o-transform: skewY(3deg);
-ms-transform: skewY(3deg);
}

.rotate-neg {
transform: skewY(-3deg);
-moz-transform: skewY(-3deg);
-webkit-transform: skewY(-3deg);
-o-transform: skewY(-3deg);
-ms-transform: skewY(-3deg);
}

/*.go-full {margin:0 -20px; padding:0 20px;}*/

.music-body{
   background-image: url(../img/music-bg.jpg);
   background-size: cover;
   background-position: center;
   padding-bottom: 5%;
}

.container-fluid>*{
   margin-left: 10px;
   margin-right: 10px;
}
.marg-top-sm{
   margin-top: 15px;
}
.marg-top-md{
   margin-top: 20px;
}
.marg-top-lg{
   margin-top: 55px;
}

.gallery-home-body{
   background-color: gray;
   padding: 10%;
}

.border-box.gallery>p{
   color: #FFF!important;
   border-color: #FFF!important;
}

.bit-location {width:23%;}

.bit-venue, .bit-date, .bit-description-links,
.bit-location, .bit-tickets {
	font-size:20px!important;
	padding:10px 0px;
}

#bit-events tr {
line-height: 3em;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.navbar-nav{
   width: 100%
}
.navbar-nav li{
   width: 16.66666%;
   text-align: center;
}

.navbar-default {
background: rgba(0,0,0,.10);
border: none!important;
position: fixed;
width: 100%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background:none!important;
}

.navbar-default .navbar-nav>li>a {
color: #FFF!important;
}

#menu-navbar > li > a:hover,
#menu-navbar > li > a:focus {
color: rgb(111,111,111)!important;
}

/* ==========================================================================
   Content - HOME
   ========================================================================== */

.content { }

#tubular-shield{
   z-index: -10000!important;
}
#vid-content{
   z-index: 5!important;
}

/* =======================
   Music Section [Home]
   ======================= */

/* =======================
   Tour Section [Home]
   ======================= */
   
.bit-description-links a:hover,
.bit-date a:hover, 
.bit-venue a:hover,
.bit-location a:hover,
.bit-tickets a:hover,
.bit-rsvp a:hover {
	color:#777!important;
}
   
/* =======================
   News Section [Home]
   ======================= */
   
/* =======================
   Photos Section [Home]
   ======================= */
   
/* =======================
   Store Section [Home]
   ======================= */

#tubular-container{
  z-index: -10000!important;
}

/* ==========================================================================
   Tour [Page]
   ========================================================================== */

body.tour .tour-body {
background-attachment: fixed;
background-position: center;
}

body.tour .tour-body h3 {
display: none;
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* ==========================================================================
   Music
   ========================================================================== */
.music-content{
   margin-top: 4%;
}

.content>.row{
   margin-top: 25px;
}


/* ==========================================================================
   FlexSlider
   ========================================================================== */
   /*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
   font-family: 'flexslider-icon';
   src:url('fonts/flexslider-icon.eot');
   src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
      url('fonts/flexslider-icon.woff') format('woff'),
      url('fonts/flexslider-icon.ttf') format('truetype'),
      url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
   font-weight: normal;
   font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0px; background: #fff; /*border: 4px solid #fff; */ position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
/*Full Width Fix*/
#video-player > div > ul.slides > li > div > iframe{
   width: 100%;
}

/* ==========================================================================
   Store
   ========================================================================== */
.store-body{
   background-image: url(../img/store-bg.jpg);
   background-size: cover;
   background-position:center;
   background-repeat: repeat;
   padding: 5%;
}

.store-headline{
   font-size: 72px;
}

.store-box p{
   font-size: 30px!important;
}
/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* ==========================================================================
   Tour
   ========================================================================== */
.tour-body{
      background: url(../img/tour-bg.jpg) top center repeat;
      background-size: cover;
	  padding: 50px 0px;
}

.tour-body h3 {
	margin-left: -10px;
}

.bit-venue{
      display: none;
}

.bit-description-links{
      display: none;
}
   
   /* .bit-date{
      width: 9%;
   } */
   
td.bit-date {
width: 90px!important;
}

.bit-header-overflow-fix span, .bit-header-overflow-fix span a{
   color: #646464!important;
}

tr th{
   color: #646464!important;
}

.bit-event-data{
   letter-spacing: .5px!important;
   word-spacing: 3px!important;
}

.bit-buy-tix {
color: #E64C1F;
text-decoration: none;
font-weight: bold;
}

a:hover{
   text-decoration: none!important;
   color: inherit!important;
}
.bit-rsvp {
display: none;
}
.bit-location a{
   font-weight: normal!important;
}
.bit-bottom{
   display: none;
}
.smaller{
   font-size: 36px;
}

/* ==========================================================================
   Video
   ========================================================================== */
.page-header{
   border: 0px #FFF solid!important;
   margin: 0px!important;
   padding: 00px!important;
}

#myModal{
   margin-top: 40%;
}
.launch-vid:hover{
cursor: pointer;
}
.modal-dialog{
   width: 90%;
}
video#bgvid {
position: fixed;
top: 0;
left:0;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -10;
background: url(polina.jpg) no-repeat;
background-size: cover;
}

.vid-layer-top{
   z-index: 100;
}
#video-player{
   padding: 0;
}

.video-body {
padding-bottom: 40%;
padding-top: 7%;
height: 0px;
}

.border-box-white{
   margin-top: 10px;
}
.border-box-white p{
color: #fff;
border: 3px solid #fff;
padding: 2px;
text-align: center;
font-size: 18px;
}

.vid-icon {
text-align: center;
color: #fff;
padding-top: 20%;
position: static;
width: 140px;
}

.vid-text{
   text-align: center;
}
/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.blog-home-body{
   background-image: url(../img/news-bg.jpg);
   background-size: cover;
   background-repeat: repeat;
   background-position: center;
   padding: 50px 0px;
}

.border-box a{
color: #E64C1F!important;
border: 3px solid #E64C1F;
padding: 2px;
text-align: center;
font-size: 18px;
margin-left: -15px;
}

.border-box a:hover {
color: #FFF!important;
border: 3px solid #FFF;
}

.more-blogs h3 {
font-size: 32px;
color: #FFF;
margin-top: 100px;
}

.blog-title, .blog-title a{
   color: #E64C1F;
}
.blog-title a:hover{
   color: #E64C1F!important;
}

.blog-body p{
   color: #fff;
}

.blog-home-body a h1:hover {
color:#E64C1F;
}

.blog-post-square {
padding: 6px;
max-height: 400px;
min-height: 400px;
}

.blog-post-square h1 {
font-size: 31px;
margin-bottom: -20px;
}

span.post-date {
color: #A5A5A5;
font-size: 11px;
margin-top: 0;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

.credits {
text-align: right;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
.bit-venue{
      display: block!important;
   }
   h3{
      font-size: 56px;
   }
   .bit-location{
   width: 23%!important;
}
#myModal{
   margin-top: 3%;
}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
.container-fluid>*{
   margin-left: inherit;
   margin-right: inherit;
}
h1{
   font-size: 80px;
}
h2{
   font-size: 60px;
}
#myModal{
   margin-top: 1%;
}


.music-body, .tour-body, .blog-home-body, .gallery-home-body, .store-body {
margin-bottom: 50px;
padding: 10% 0px 13% 0px;
}

.featured-image-home {
height: 200px;
overflow: hidden;
padding: 0;
}

.featured-image-home img {
width: 100%;
height: auto;
}

body > div.container-fluid.blog-home-body.rotate-neg.inview > div > div > div > div > p > a {
display: none;
} /* removes the "Continued" link from the Excerpt */

.store-body .border-box a {
color: #E64C1F!important;
border: 3px solid #E64C1F;
padding: 2px;
text-align: center;
font-size: 18px;
margin-left: 0px!important;
}

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) { }


/*
 * Nivo Lightbox v1.1
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.nivo-lightbox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99998;
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nivo-lightbox-overlay.nivo-lightbox-open {
	visibility: visible;
	opacity: 1;
}
.nivo-lightbox-wrap  {
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
}
.nivo-lightbox-content {
	width: 100%;
	height: 100%;
}
.nivo-lightbox-title-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	text-align: center;
}
.nivo-lightbox-nav { display: none; }
.nivo-lightbox-prev {
	position: absolute;
	top: 50%;
	left: 0;
}
.nivo-lightbox-next {
	position: absolute;
	top: 50%;
	right: 0;
}
.nivo-lightbox-close {
	position: absolute;
	top: 2%;
	right: 2%;
}

.nivo-lightbox-image { text-align: center; }
.nivo-lightbox-image img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	vertical-align: middle;
}
.nivo-lightbox-content iframe {
	width: 100%;
	height: 100%;
}
.nivo-lightbox-inline,
.nivo-lightbox-ajax {
	max-height: 100%;
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* https://bugzilla.mozilla.org/show_bug.cgi?id=308801 */
}
.nivo-lightbox-error {
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}
.nivo-lightbox-error p {
	display: table-cell;
	vertical-align: middle;
}

/* Effects
 **********************************************/
.nivo-lightbox-notouch .nivo-lightbox-effect-fade,
.nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideLeft,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideRight,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideUp,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideDown,
.nivo-lightbox-notouch .nivo-lightbox-effect-fall {
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

/* fadeScale */
.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap {
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	-webkit-transform: scale(0.7);
	   -moz-transform: scale(0.7);
	    -ms-transform: scale(0.7);
	        transform: scale(0.7);
}
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

/* slideLeft / slideRight / slideUp / slideDown */
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	   -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	    -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	     -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	        transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap {
	-webkit-transform: translateX(-10%);
	   -moz-transform: translateX(-10%);
	    -ms-transform: translateX(-10%);
	        transform: translateX(-10%);
}
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap {
	-webkit-transform: translateX(10%);
	   -moz-transform: translateX(10%);
	    -ms-transform: translateX(10%);
	        transform: translateX(10%);
}
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
	-webkit-transform: translateY(-10%);
	   -moz-transform: translateY(-10%);
	    -ms-transform: translateY(-10%);
	        transform: translateY(-10%);
}
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap {
	-webkit-transform: translateY(10%);
	   -moz-transform: translateY(10%);
	    -ms-transform: translateY(10%);
	        transform: translateY(10%);
}
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}

/* fall */
.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall {
	-webkit-perspective: 1000px;
	   -moz-perspective: 1000px;
	        perspective: 1000px;
}
.nivo-lightbox-effect-fall .nivo-lightbox-wrap {
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
	-webkit-transform: translateZ(300px);
	   -moz-transform: translateZ(300px);
	    -ms-transform: translateZ(300px);
	        transform: translateZ(300px);
}
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	        transform: translateZ(0);
}

/*
 * Nivo Lightbox Default Theme v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
.nivo-lightbox-theme-default.nivo-lightbox-overlay { 
	background: #666;
	background: rgba(0,0,0,0.6); 
}
.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { background: url(loading.gif) no-repeat 50% 50%; }

.nivo-lightbox-theme-default .nivo-lightbox-nav {
	top: 10%;
	width: 8%;
	height: 80%;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav:hover { 
	opacity: 1; 
	background-color: rgba(0,0,0,0.5);
}
.nivo-lightbox-theme-default .nivo-lightbox-prev { 
	background-image: url(../img/prev.png); 
	border-radius: 0 3px 3px 0;
}
.nivo-lightbox-theme-default .nivo-lightbox-next { 
	background-image: url(../img/next.png); 
	border-radius: 3px 0 0 3px;
}

.nivo-lightbox-theme-default .nivo-lightbox-close {
	display: block;
	background: url(../img/close.png) no-repeat 5px 5px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	padding: 5px;
	opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-close:hover { opacity: 1; }

.nivo-lightbox-theme-default .nivo-lightbox-title-wrap { bottom: -7%; }
.nivo-lightbox-theme-default .nivo-lightbox-title {
	font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	background: #000;
	color: #fff;
	padding: 7px 15px;
	border-radius: 30px;
}

.nivo-lightbox-theme-default .nivo-lightbox-image img {
	background: #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	        box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
.nivo-lightbox-theme-default .nivo-lightbox-ajax,
.nivo-lightbox-theme-default .nivo-lightbox-inline {
	background: #fff;
	padding: 40px;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	        box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

@media (-webkit-min-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (min--moz-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {

	.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { 
		background-image: url(../img/loading@2x.gif); 
		background-size: 32px 32px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-prev { 
		background-image: url(../img/prev@2x.png); 
		background-size: 48px 48px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-next { 
		background-image: url(../img/next@2x.png); 
		background-size: 48px 48px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-close { 
		background-image: url(../img/close@2x.png); 
		background-size: 16px 16px;
	}
	
}
